*.o
Makefile
/tutorial/t*/t*
.*.cache
/lib/*
!/lib/README
/bin/*
!/bin/tqtfindtr
.moc
.ui
/config.status

# This is an incomplete list of files generated during Qt build in various parts of source tree
# Feel free to add PR any additions to this list you see fit

/config.tests/unix/endian/endiantest
/config.tests/unix/ipv6/ipv6test
/config.tests/unix/largefile/largefiletest
/config.tests/unix/ptrsize/ptrsizetest
/config.tests/unix/stl/stltest
/examples/aclock/aclock
/examples/action/action
/examples/action/toggleaction/toggleaction
/examples/addressbook/addressbook
/examples/application/application
/examples/biff/biff
/examples/buttongroups/buttongroups
/examples/canvas/canvas
/examples/chart/chart
/examples/checklists/checklists
/examples/cursor/cursor
/examples/customlayout/customlayout
/examples/dclock/dclock
/examples/demo/demo
/examples/demo/dnd/dndbase.cpp
/examples/demo/dnd/dndbase.h
/examples/demo/opengl/gllandscapeviewer.cpp
/examples/demo/opengl/gllandscapeviewer.h
/examples/demo/opengl/printpreview.cpp
/examples/demo/opengl/printpreview.h
/examples/demo/sql/connect.cpp
/examples/demo/sql/connect.h
/examples/demo/sql/sqlex.cpp
/examples/demo/sql/sqlex.h
/examples/demo/widgets/widgetsbase.cpp
/examples/demo/widgets/widgetsbase.h
/examples/desktop/desktop
/examples/dirview/dirview
/examples/distributor/distributor
/examples/distributor/distributor.cpp
/examples/distributor/distributor.h
/examples/dragdrop/dragdrop
/examples/drawdemo/drawdemo
/examples/drawlines/drawlines
/examples/extension/dialogform.cpp
/examples/extension/dialogform.h
/examples/extension/extension
/examples/extension/extension.cpp
/examples/extension/extension.h
/examples/extension/mainform.cpp
/examples/extension/mainform.h
/examples/fonts/simple-qfont-demo/fontdemo
/examples/forever/forever
/examples/gridview/gridview
/examples/hello/hello
/examples/helpdemo/helpdemo
/examples/helpsystem/helpsystem
/examples/helpviewer/helpviewer
/examples/i18n/i18n
/examples/layout/layout
/examples/life/life
/examples/lineedits/lineedits
/examples/listboxcombo/listboxcombo
/examples/listbox/listbox
/examples/listviews/listviews
/examples/mdi/mdi
/examples/menu/menu
/examples/movies/movies
/examples/network/archivesearch/archivedialog.cpp
/examples/network/archivesearch/archivedialog.h
/examples/network/archivesearch/archivesearch
/examples/network/clientserver/client/client
/examples/network/clientserver/server/server
/examples/network/ftpclient/connectdialog.cpp
/examples/network/ftpclient/connectdialog.h
/examples/network/ftpclient/ftpclient
/examples/network/ftpclient/ftpmainwindow.cpp
/examples/network/ftpclient/ftpmainwindow.h
/examples/network/ftpclient/qmake_image_collection.cpp
/examples/network/httpd/httpd
/examples/network/infoprotocol/infoclient/clientbase.cpp
/examples/network/infoprotocol/infoclient/clientbase.h
/examples/network/infoprotocol/infoclient/infoclient
/examples/network/infoprotocol/infoserver/infoserver
/examples/network/infoprotocol/infoserver/serverbase.cpp
/examples/network/infoprotocol/infoserver/serverbase.h
/examples/network/infoprotocol/infourlclient/clientbase.cpp
/examples/network/infoprotocol/infourlclient/clientbase.h
/examples/network/infoprotocol/infourlclient/infourlclient
/examples/network/mail/mail
/examples/network/networkprotocol/networkprotocol
/examples/network/remotecontrol/maindialog.cpp
/examples/network/remotecontrol/maindialog.h
/examples/network/remotecontrol/remotecontrol
/examples/network/remotecontrol/remotectrl.cpp
/examples/network/remotecontrol/remotectrl.h
/examples/opengl/box/box
/examples/opengl/gear/gear
/examples/opengl/glpixmap/glpixmap
/examples/opengl/overlay/overlay
/examples/opengl/sharedbox/sharedbox
/examples/opengl/texture/texture
/examples/picture/picture
/examples/popup/popup
/examples/process/process
/examples/progressbar/progressbar
/examples/progress/progress
/examples/qdir/qdir
/examples/qfd/qfd
/examples/qmag/qmag
/examples/qtl/qtl
/examples/qwerty/qwerty
/examples/rangecontrols/rangecontrols
/examples/regexptester/regexptester
/examples/richtext/richtext
/examples/rot13/rot13
/examples/scribble/scribble
/examples/scrollview/scrollview
/examples/showimg/showimg
/examples/sound/sound
/examples/splitter/splitter
/examples/sql/blob/blob
/examples/sql/overview/basicbrowsing2/basicbrowsing2
/examples/sql/overview/basicbrowsing/basicbrowsing
/examples/sql/overview/basicdatamanip/basicdatamanip
/examples/sql/overview/connect1/connect1
/examples/sql/overview/create_connections/create_connections
/examples/sql/overview/custom1/custom1
/examples/sql/overview/delete/delete
/examples/sql/overview/extract/extract
/examples/sql/overview/form1/form1
/examples/sql/overview/form2/form2
/examples/sql/overview/insert2/insert2
/examples/sql/overview/insert/insert
/examples/sql/overview/navigating/navigating
/examples/sql/overview/order1/order1
/examples/sql/overview/order2/order2
/examples/sql/overview/retrieve1/retrieve1
/examples/sql/overview/retrieve2/retrieve2
/examples/sql/overview/subclass1/subclass1
/examples/sql/overview/subclass2/subclass2
/examples/sql/overview/subclass3/subclass3
/examples/sql/overview/subclass4/subclass4
/examples/sql/overview/subclass5/subclass5
/examples/sql/overview/table1/table1
/examples/sql/overview/table2/table2
/examples/sql/overview/table3/table3
/examples/sql/overview/table4/table4
/examples/sql/overview/update/update
/examples/sql/sqltable/sqltable
/examples/tabdialog/tabdialog
/examples/table/bigtable/bigtable
/examples/table/small-table-demo/smalltable
/examples/table/statistics/statistics
/examples/tablet/tablet
/examples/tablet/tabletstatsbase.cpp
/examples/tablet/tabletstatsbase.h
/examples/tetrix/tetrix
/examples/textedit/qmake_image_collection.cpp
/examples/textedit/textedit
/examples/themes/themes
/examples/thread/prodcons/prodcons
/examples/thread/semaphores/semaphores
/examples/tictac/tictac
/examples/tooltip/tooltip
/examples/toplevel/toplevel
/examples/tux/tux
/examples/widgets/widgets
/examples/wizard/wizard
/examples/xform/xform
/examples/xml/outliner/outliner
/examples/xml/tagreader/tagreader
/examples/xml/tagreader-with-features/tagreader-with-features
/extensions/nsplugin/examples/grapher/libgrapher.prl
/extensions/nsplugin/examples/trivial/libtrivial.prl
/include/ntqconfig.h
/include/ntqmodules.h
/listvieweditor.h
/mkspecs/default
/plugins/designer/
/plugins/imageformats/
/plugins/inputmethods/
/plugins/sqldrivers/
/plugins/styles/
/qmake/tqmake
/src/tools/qconfig.cpp
/tools/assistant/finddialog.cpp
/tools/assistant/finddialog.h
/tools/assistant/helpdialog.cpp
/tools/assistant/helpdialog.h
/tools/assistant/mainwindow.cpp
/tools/assistant/mainwindow.h
/tools/assistant/qmake_image_collection.cpp
/tools/assistant/settingsdialog.cpp
/tools/assistant/settingsdialog.h
/tools/assistant/tabbedbrowser.cpp
/tools/assistant/tabbedbrowser.h
/tools/assistant/topicchooser.cpp
/tools/assistant/topicchooser.h
/tools/assistant/tqassistant.png
/tools/designer/designer/about.cpp
/tools/designer/designer/about.h
/tools/designer/designer/actioneditor.cpp
/tools/designer/designer/actioneditor.h
/tools/designer/designer/configtoolboxdialog.cpp
/tools/designer/designer/configtoolboxdialog.h
/tools/designer/designer/connectiondialog.cpp
/tools/designer/designer/connectiondialog.h
/tools/designer/designer/createtemplate.cpp
/tools/designer/designer/createtemplate.h
/tools/designer/designer/customwidgeteditor.cpp
/tools/designer/designer/customwidgeteditor.h
/tools/designer/designer/dbconnection.cpp
/tools/designer/designer/dbconnectioneditor.cpp
/tools/designer/designer/dbconnectioneditor.h
/tools/designer/designer/dbconnection.h
/tools/designer/designer/dbconnections.cpp
/tools/designer/designer/dbconnections.h
/tools/designer/designer/editfunctions.cpp
/tools/designer/designer/editfunctions.h
/tools/designer/designer/finddialog.cpp
/tools/designer/designer/finddialog.h
/tools/designer/designer/formsettings.cpp
/tools/designer/designer/formsettings.h
/tools/designer/designer/gotolinedialog.cpp
/tools/designer/designer/gotolinedialog.h
/tools/designer/designer/iconvieweditor.cpp
/tools/designer/designer/iconvieweditor.h
/tools/designer/designer/listboxeditor.cpp
/tools/designer/designer/listboxeditor.h
/tools/designer/designer/listeditor.cpp
/tools/designer/designer/listeditor.h
/tools/designer/designer/listvieweditor.cpp
/tools/designer/designer/listvieweditor.h
/tools/designer/designer/multilineeditor.cpp
/tools/designer/designer/multilineeditor.h
/tools/designer/designer/newform.cpp
/tools/designer/designer/newform.h
/tools/designer/designer/paletteeditoradvanced.cpp
/tools/designer/designer/paletteeditoradvanced.h
/tools/designer/designer/paletteeditor.cpp
/tools/designer/designer/paletteeditor.h
/tools/designer/designer/pixmapcollectioneditor.cpp
/tools/designer/designer/pixmapcollectioneditor.h
/tools/designer/designer/pixmapfunction.cpp
/tools/designer/designer/pixmapfunction.h
/tools/designer/designer/preferences.cpp
/tools/designer/designer/preferences.h
/tools/designer/designer/previewwidget.cpp
/tools/designer/designer/previewwidget.h
/tools/designer/designer/projectsettings.cpp
/tools/designer/designer/projectsettings.h
/tools/designer/designer/qmake_image_collection.cpp
/tools/designer/designer/replacedialog.cpp
/tools/designer/designer/replacedialog.h
/tools/designer/designer/richtextfontdialog.cpp
/tools/designer/designer/richtextfontdialog.h
/tools/designer/designer/startdialog.cpp
/tools/designer/designer/startdialog.h
/tools/designer/designer/tableeditor.cpp
/tools/designer/designer/tableeditor.h
/tools/designer/designer/tqdesigner.png
/tools/designer/designer/variabledialog.cpp
/tools/designer/designer/variabledialog.h
/tools/designer/designer/wizardeditor.cpp
/tools/designer/designer/wizardeditor.h
/tools/designer/editor/preferences.cpp
/tools/designer/editor/preferences.h
/tools/designer/plugins/cppeditor/mainfilesettings.cpp
/tools/designer/plugins/cppeditor/mainfilesettings.h
/tools/designer/plugins/cppeditor/projectsettings.cpp
/tools/designer/plugins/cppeditor/projectsettings.h
/tools/designer/plugins/wizards/mainwindowwizard.cpp
/tools/designer/plugins/wizards/mainwindowwizard.h
/tools/designer/plugins/wizards/qmake_image_collection.cpp
/tools/designer/plugins/wizards/sqlformwizard.cpp
/tools/designer/plugins/wizards/sqlformwizard.h
/tools/designer/tools/tqtcreatecw/tqtcreatecw
/tools/linguist/linguist/about.cpp
/tools/linguist/linguist/about.h
/tools/linguist/linguist/qmake_image_collection.cpp
/tools/linguist/linguist/statistics.cpp
/tools/linguist/linguist/statistics.h
/tools/linguist/linguist/tqlinguist.png
/tools/linguist/tutorial/tt1/tt1
/tools/linguist/tutorial/tt2/tt2
/tools/linguist/tutorial/tt3/tt3
/tools/maketqpf/maketqpf
/tools/msg2tqm/msg2tqm
/tools/qconfig/qconfig
/tools/qembed/tqembed
/tools/qtconfig/mainwindowbase.cpp
/tools/qtconfig/mainwindowbase.h
/tools/qtconfig/paletteeditoradvancedbase.cpp
/tools/qtconfig/paletteeditoradvancedbase.h
/tools/qtconfig/previewwidgetbase.cpp
/tools/qtconfig/previewwidgetbase.h
/tools/qtconfig/qmake_image_collection.cpp
/tools/qtconfig/tqtconfig.png
/tools/tqtmergetr/tqtmergetr
