[Desktop Entry]
Name=TQt3 Configuration
Name[de]=TQt3 Konfiguration
Name[bg]=Настройки на TQt3
Name[cs]=TQt3 nastavení
Name[el]=Ρυθμίσεις TQt3
Name[fi]=TQt3 asetukset
Name[fr]=Configuration de TQt3
Name[hu]=TQt3 beállítások
Name[it]=Impostazioni TQt3
Name[ja]=TQt3設定
Name[km]=ការ​កំណត់ TQt3
Name[nb]=TQt3-innstillinger
Name[nl]=TQt3 Instellingen
Name[pa]=TQt3 ਸਥਾਪਨ
Name[pl]=Ustawienia TQt3
Name[pt]=Definições TQT3
Name[pt_BR]=Configurações do TQt3
Name[ru]=Настройки TQt3
Name[sv]=TQt3-inställningar
Name[uk]=Параметри TQt3
Name[zh_CN]=TQt3 设置
Name[zh_TW]=TQt3 設定

Comment=A graphical configuration tool for programs using TQt 3
Comment[de]=Ein grafisches Konfigurationstool für TQt3-Programme
Comment[fr]=Un outil de configuration graphique pour les programmes utilisant TQt3

Type=Application
Exec=tqtconfig
Icon=tqtconfig
Terminal=false
Categories=Qt;Settings;
